@import url('https://fonts.googleapis.com/css?family=Raleway');

/* ----- Variables ----- */
:root {
    --grey: #e0ddd9;
}

/* ----- Basic and Helper styles ----- */
body {
    font-family: 'Raleway', sans-serif;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.h-40 {
    height: 40px !important;
    min-height: 40px;
}

/* ----- Header ----- */
header.main {
    border-bottom: 15px solid var(--grey);
}
nav a svg {
    margin-left: 0.5rem;
}
.uk-offcanvas-bar {
    background-color: white;
}
.uk-offcanvas-bar a, .uk-offcanvas-bar svg {
    color: #999;
}
.uk-offcanvas-bar a:hover, .uk-offcanvas-bar svg:hover {
    color: black;
}

/* ----- Main Banner Section ----- */
#banner {
    /* background-color: white; */
    background-image: url('../imgs/curves.jpg');
}

/* ----- Products Section ----- */
#products ul {
    /* margin: 0 3rem; */
}
#products article {
    height: 100%;
    text-align: center;
}
#products a {
    transition: box-shadow .25s;
    /* min-width: 200px; */
}
#products a:not(:first-child) {
    /* margin-left: 1rem; */
}
#products img {
    width: 150px; 
}
#products .uk-card-media-top {
    display: flex;
    justify-content: center;
    align-items: center;
}