@import url('https://fonts.googleapis.com/css?family=Raleway');

/* ----- Variables ----- */
:root {
    --grey: #e0ddd9;
    --trans-grey: rgba(224, 221, 217, 0.75); 
}

/* ----- Basic and Helper styles ----- */
body {
    font-family: 'Raleway', sans-serif;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.h-40 {
    height: 40px !important;
    min-height: 40px;
}

/* ----- Header ----- */
header.main {
    background-color: white;
    border-bottom: 15px solid var(--grey);
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
nav a svg {
    margin-left: 0.5rem;
}
.uk-offcanvas-bar {
    background-color: white;
}
.uk-offcanvas-bar a, .uk-offcanvas-bar svg {
    color: #999;
}
.uk-offcanvas-bar a:hover, .uk-offcanvas-bar svg:hover {
    color: black;
}

/* ----- Main Banner Section ----- */
#banner {
    /* background-color: white; */
    background-image: url('../imgs/curves.jpg');
}

/* ----- Products Section ----- */
#products article {
    height: 100%;
    text-align: center;
    transition: box-shadow .25s;
}
#products img {
    width: 150px; 
}
#products .uk-card-media-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
#products .disabled {
    position: relative;
}
#products .disabled .uk-panel {
    opacity: 0;
    transition: opacity .25s;
    background-color: var(--trans-grey);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
#products .disabled .uk-panel h4 {
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
}
#products .disabled:hover .uk-panel {
    opacity: 1;
}